@import "../../global.scss";

.navbar-container {
  
  background-color: $main-color;
  width: 100%;

  padding: 10px 0;

  div {
    margin: 0 auto;
    display: flex;
    width: 80%;
    align-items: center;

    @media (max-width: 550px) {
      flex-direction: column;
    }

    .logo {
      font-size: 40;
      color: #fff;
    }

    h1 {
      padding-right: 40px;
      margin: 0 auto;
      color: #fff;
      font-weight: 100;
      text-align: center;

      @media (max-width: 550px) {
        padding: 0;
      }
    }
  }
}
