.profile-container {
  width: 30%;

  a.profile-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 2rem;

    margin: 20px auto;

    background-color: #24292e;
    color: #fff;
  
    border: none;
    border-radius: 4px;
  
    transition: 0.4s;
  }

  a.profile-link:hover {
    background-color: rgb(13, 15, 17);
  }

  div.header {
    display: flex;
    flex-direction: column;

    align-items: center;

    margin-top: 20px;

    img {
      width: 200px;
      border-radius: 50%;
    }

    h2 {
      margin-top: 20px;
    }
  }

  .followers-content {
    display: flex;
    justify-content: center;

    margin-top: 15px;

    div {
      padding-left: 10px;
    }
  }

  .contact-content {
    margin-top: 20px;
    padding-left: 70px;
  }
}